%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %strong Submissions:
  %ul
    - @user.submissions.each do |submission|
      %li= submission.body

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
